{% extends 'template.html.twig' %}

{% block title %} acceuil {% endblock %}
{% block stitre %}Détail de l'article{% endblock %}

{% block content %}
{% block menu %}{{ parent() }}{% endblock %}


        {% if articles is empty %}
        <h3>Il n'y pas encore d'articles</h3>
        {% endif %}

        {% for item in articles %}
        <h2>{{ item.getThetitle }}</h2>
        <h3>
            {% for sections in item.getThesectionsthesections %}
                <a href="{{ path("detail_section",{"id":sections.getIdthesections}) }}">{{ sections.getLetitre }}</a> |
            {% endfor %}

        </h3>
      <p>{{ item.getThetext|truncate(300,true) }} <a href="{{ path("detail_article",{'id':item.getIdlesarticles}) }}">Lire la suite</a></p>
        <h4>par {{ item.getLesauteurslesauteurs.getLenomcomplet}} le {{ item.getThedate|date("d/m/Y à H \\h i \\m") }}</h4>
        <hr>
        {% endfor %}


{% endblock %}
